body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.page-nav,
.page-nav-link {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-nav-link:hover,
.page-nav-link:focus {
  color: #404bbf;
}

.link:active {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-text-nav {
  color: #2e2f42;
}

.contacts,
.contacts-link {
  font-style: normal;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.header {
  background-color: #2e2f42;
}

.page-header {
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  background-color: #2e2f42;
}

.page-header-btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.page-header-btn:hover,
.page-header-btn:focus {
  background-color: #404bbf;
}

.page-team {
  background-color: #f4f4fd;
}

.page-title {
  font-weight: 500;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.scroll-team {
  background-color: #ffffff;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  text-transform: capitalize;
}

.text {
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.vault {
  background: #2e2f42;
}

.logo-text-vault {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.text-vault {
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
