body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-nav {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
}

.page-nav {
  margin-left: 76px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.page-nav,
.page-nav-link {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-nav-link:hover,
.page-nav-link:focus {
  color: #404bbf;
}

.link:active {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-text-nav {
  color: #2e2f42;
}

.contacts,
.contacts-link {
  font-style: normal;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.page-hero {
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  background-color: #2e2f42;
}

.page-hero-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.page-hero-button:hover,
.page-hero-button:focus {
  background-color: #404bbf;
}

/* Прихований заголовок секції*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.values {
  margin-top: 120px;
  margin-bottom: 120px;
}

.page-values {
  display: flex;
  gap: 24px;
}

.values-itm {
  width: 264px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.page-title {
  font-weight: 500;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.page-team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}

.name-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.scroll-team {
  background-color: #ffffff;
}

.section-title-team {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 8px;
}

.text-team {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  row-gap: 48px;
  width: calc((100%-24px) / 3);
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.item-portfolio {
  display: list-item;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-basis: 360px;
}

.description-app {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.vault {
  background: #2e2f42;
  padding-top: 110px;
  padding-bottom: 100px;
}

.logo-text-vault {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  width: 115px;
  height: 21px;
}

.text-vault {
  padding-top: 14.57px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 66px;
}
